* {
    margin:0;
    padding:0;  
  }
  .font {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
.txt{
font-size: large;

}
.txt2 { font-size: 200%;

}
  .nav { background-color: green;
    line-height: 20px;}

  .ul {
        background-color: lightskyblue;
        
    }
    .padding { border: green;
        border: 10px solid green;
        padding: 10px;
    }

    .header {
        background-color: lightgreen;
        text-align: center;
        padding: 20px;
        color: white;
        border-top:10px solid green;

    }
    .footer {
        background-color: lightgreen;
        text-align:center;
        padding: 30px;
        
            margin-top: 0;
            bottom: 0;
            border-bottom: 10px solid green;
            color: black;           
    }
    .container {
        color: seagreen;
        padding-top: 10%;
        text-align: center;
    }

  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
  